--extra-index-url https://download.pytorch.org/whl/cu124

numpy
openai
openai-whisper
openpyxl
pandas
scikit-learn
scipy
seaborn
sentence-transformers
transformers
torch
tqdm
matplotlib
librosa
jieba
networkx
opensmile
soundfile
stanza
umap-learn
